/* Carousel Fading slide */
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

.carousel-fade .item.active { opacity: 1; }



/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner > .item,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
  }
  .carousel-fade .carousel-inner > .item.left,
  .carousel-fade .carousel-inner > .item.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
  }
}

/* thumbnail 动效 */
.carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  }
