/*top Nav*/
body {
  background-color: white;
}

html, body {
  max-width:100%;
  overflow-x: hidden;
}

body,
nav,
h4,
h5 {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", "Helvetica Neue", sans-serif;
}

p {
  font-size: 16px;
  color: #3c3c3c;
  font-weight: 300;
}
.navbar {
  /*background: transparent;*/
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 45px 30px;
}

/*.round-hover {
  position: absolute;
  left: 35px;
  top: 40px;
  z-index: -1;
  background: #ffffff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: .1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.close-left:hover + .round-hover {
  -webkit-transform: scale(60);
  -ms-transform: scale(60);
  transform: scale(60);
  opacity: 1;
}*/

.logo {
  position: absolute;
  left: 50px;
}

.logo img {
  height: 30px;
  width: auto;
}

/*dropdown menu*/
/* MIXINS
  ==================================*/
.card-shadow,
#dropdown-menu {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
/* GENERAL STYLES
   ================================== */
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
/* INPUT
   ================================== */
#input {
  border: 0;
  background: transparent;
  outline: 0;
  display: block;
  text-align: right;
  font-size: 0.95em;
  width: 100px;
  cursor: pointer;
  color: #727272;
  text-decoration: none;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
#input.open {
  opacity: 0;
}

/*top Nav*/

/*hero header*/

.intro-header {
  height: 100vh;
  /*height: 680px;*/
}

.intro-header-1cts {
  background-color: #4ab5cd;
}

.intro-header-commuCity {
  background-color: #F9AA67;
}

.intro-header-xiguo {
  background-color: #37bcb2;
}

.intro-header-tripit {
  background-color: #FF9F59;
}

.intro-header-sprout {
  background-color: #37BD7E;
}

.intro-header-vpl {
  background-color: #FF5A5F;
}

.intro-header-idm {
  background-color: #71D288;
}

.idm_title {
  color: #71D288;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
  font-size: 14px;
}

.vpl_title {
  color: #FF5A5F;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
  font-size: 14px;
}

.cts_title {
  color: #4ab5cd;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
  font-size: 14px;
}

.xiguo_title {
  color: #37BCB2;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
  font-size: 14px;
}

.tripit_title {
  color: #FF9F59;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
  font-size: 14px;
}

.tripit-title-number {
  color: #FF9F59;
  font-family: 'Roboto Slab',serif;
  font-weight:700;
  font-size: 24px;
}

.tripit-chapter {
  color: #FF9F59;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  font-weight:bold;
  font-size: 30px;
}

.sprout_title {
  color: #37BD7E;
  font-family: 'Roboto Slab',serif;
  font-weight: 700;
  font-size: 14px;
}

.project-logo {
  position:relative;
  bottom:0px;
  height:30px;
  width:auto
}

.intro-message {
  padding: 240px 100px 140px 0;
  color: white;
}

.intro-message h1 {
  font-family: 'Raleway',serif;
  font-weight: 100;
  font-size: 90px;
}

.intro-message p {
  color: white;
  margin: 0 10px;
}

.heroImg {
  padding-top: 30px;
  padding-bottom: 30px;
}

.heroImg img{
  width: 550px;
  height: auto;
}

.intro-message img {
  width: 60px;
  height: auto;
}

.text-container {
  padding: 80px 60px 80px 20px;
}

.tiny-font p {
  font-size: 13px;
}

.tiny-font {
  font-size: 13px;
  font-weight: 200;
  color: #979797;
}

.project-why {
  background-color: white;
  text-align: center;
}

.project-why img {
  width: 100%;
  height: auto;
  margin: 40px 0px 0px 0px;
}

.project-why h1 {
  font-family: 'Raleway',serif;
  font-weight: 200;
  color: #333;
  line-height: 1.3em;
  margin: 0 0 80px 0;
}

.project-why p {
  color: white;
}

.bracket img {
  height: 34px;
  width: 96px;
  margin: 40px 0;
}

.persona-row {
  position: relative;
  top: 0px;
}

.persona-photo img {
  height: 116px;
  width: auto;
  margin: 40px 20px;
}

.persona-story {
  position: absolute;
  top: 0px;
  width: 300px;
  margin: 40px 80px 40px 200px;
  text-align: left;
}

.message-model img {
  width: 1000px;
  height: auto;
  margin: 50px 0;
}

.insight h2 {
  color: #12d76f;
  margin: 20px 0;
}

.insight-image img {
  width: 337px;
  height: auto;
  margin: 40px 0;
}

/*design method*/

.grey-bg {
  background-color: #f9f9f9;
  background-size: cover;
}

.architec-experienc img {
  margin: 170px 100px 100px 130px;
  width: 400px;
  height: auto;
}

div.architecture-experience {
  padding: 100px 140px;
}

.in-line {
  background-color: rgba(255,255,255,.8);
  padding: 10px;
}

.in-line img {
  width: 36px;
  height: auto;
  margin-top: 10px;
}

.in-line p {
  font-size: 16px;
  font-style: italic;
}

#light-grey {
  color: #a0a0a0;
}

#medium-grey {
  color: #7c7c7c;
}

#dark-grey {
  color: #494949;
}

/*user flow*/

div.user-flow {
  padding: 80px 0;
}

#xiguo-flow img {
  height: auto;
  width: 100%;
}

.side-annotation img {
  height: 49px;
  width: auto;
  margin: 20px 0;
}

div.side-annotation {
  margin: 60px 10px 150px 0;
}

.highlighted-word-monitor {
  color: #12d76f;
  font-size: 20px;
  font-weight: 500;
}

.highlighted-word-student {
  color: #ef5035;
  font-size: 20px;
  font-weight: 500;
}

.paragraph-title {
  font-size: 28px;
  line-height: 1.2em;
  margin-bottom:20px;
  color: #26DE9E
}

.paragraph-title-vpl {
  font-size: 25px;
  padding-bottom:10px;
  color: #54698d
}

.wire-animated img {
  width:400px;
  height:auto;
  margin: 20px 50px 10px 50px;
}

.wire-animated video {
  margin: 20px 0;
}

.interface video{
  margin-top: 50px;
}

.interface img{
  margin-top: 50px;
  height: 600px;
  width: auto;
}

.interface-desktop img{
  width: 680px;
  height: auto;
}

.interface-desktop {
  margin-top: 80px;
}

.annotation {
  padding: 80px 0 40px 0;
}

.annotation-phone {
  padding: 100px 50px;
}

.equal-colum-left {
  padding: 50px 30px 50px 100px;
}

.equal-colum-right {
  padding: 50px 100px 50px 30px;
}

.annotation img {
  width: 550px;
  height: auto;
  margin: 10px;
}

.annotation p,h1,h2,h3 {
  padding: 10px;
}

.responsive-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.icon-image {
  width: 200px;
  height: auto;
}

.icon-image img {
  height: auto;
  width: 40%;
  margin: 10px 0;
}

.warm-grey-bg {
  background-color: #F8F8F9;
  background-size: cover;
}

.light-grey-bg {
  background-color: #FBFBFB;
  background-size: cover;
}

.reddish-grey-bg {
  background-color: #F4F0F1;
  background-size: cover;
}

.os-animation{
    opacity: 0;
}
.os-animation.animated{
    opacity: 1;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control {
  text-shadow: none;
}

.carousel-indicators {
  bottom: 0;
}

/*-----------------------Xi's Portfolio new properties------------------------*/
.col-text p{
  font-size: 14px;
  font-style: italic;
}

.webapp-header {
  width: 78%;
  height: auto;
  margin-top: 20vh;
}

.mobileapp-header {
  width: 66%;
  height: auto;
  margin-top: 20vh;
}

/*@media screen and (min-width: 1280px) {
  .mobileapp-header {
    width: 100%;
  }
}*/

.scroll-icon img{
  height: 45px;
  width: auto;
}

.persona-story span {
  font-weight: 600;
}

.h1-italic-strong {
  font-style:italic;
  font-weight:600;
}


#owl-demo .item img{
    width: 80%;
    height: auto;
}

.hero-text {
  position: relative;
  top: 120px;
  margin-top: 23vh;
}

.hero-text-hover {
  cursor: pointer;
}

.homehover {
  position: absolute;
  opacity: 0.0;
  transition: opacity 0.5s ease;
}

.hero-text-hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.hero-text-hover:hover {
  color: grey;
}

.homehover img {
  height: 200px;
  width: auto
}

.page-scroll {
  margin-left: 10px;
}

.page-scroll:hover {
  opacity: .7
}

#homehover1 {
  left: 500px;
  top: -130px;
}

#homehover2 {
  left: 530px;
  top: 110px;
}

#homehover3 {
  left: 765px;
  top: 100px;
}

.design1 img{
  float: right;
  width: 78%;
  height: auto;
  margin: 14px 0;
}

.design6 img{
  float: left;
  width: 78%;
  height: auto;
  margin: 14px 0 14px -6px;
}

.design2 img {
  float: left;
  width: 67%;
  height: auto;
  margin: 14px 0;
}

.design5 img {
  float: right;
  width: 67%;
  height: auto;
  margin: 14px 6px 14px 0;
}

.design3 img{
  float: right;
  width: 68.5%;
  height: auto;
  margin: 14px 0;
}

.design4 img{
  float: right;
  width: 83.5%;
  height: 20%;
}


.design4 {
  margin: 14px 150px 14px 0;
}

.bottom-icons i{
  margin:10px;
}


.bottom-icons a{
  color: #252526;
}

.box {
  transition: box-shadow .3s;
  height: auto;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
/*scroll-down-icon*/

.scroll-down {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  bottom: 45px;
  padding-left: 7px;
  cursor: pointer;
  z-index: 2;
  color: #C7C9CD;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.scroll-down.svg svg {
  width: 25px;
  opacity: 1;
}
.scroll-down.svg .stroke {
  stroke: #C7C9CD;
}
.scroll-down.svg .scroller {
  fill: #C7C9CD;
  -webkit-animation: updown 3.5s infinite;
  -moz-animation: updown 3.5s infinite;
  -o-animation: updown 3.5s infinite;
  animation: updown 3.5s infinite;
}

@-webkit-keyframes updown {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
    50% {
      -o-transform: translate(0, 8px);
      transform: translate(0, 8px)
    }
    95% {
        opacity: 0;
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out

    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
}
@-moz-keyframes updown {
    0% {
        opacity: 1;
        -moz-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
    50% {
      -o-transform: translate(0, 8px);
      transform: translate(0, 8px)
    }
    95% {
        opacity: 0;
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
}
@-o-keyframes updown {
    0% {
        opacity: 1;
        -o-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
    50% {
      -o-transform: translate(0, 8px);
      transform: translate(0, 8px)
    }
    95% {
        opacity: 0;
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
    100% {
        opacity: 1;
        -o-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
}
@keyframes updown {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
    50% {
      -o-transform: translate(0, 8px);
      transform: translate(0, 8px)
    }
    95% {
        opacity: 0;
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, -2px);
        transform: translate(0, -2px);
        -webkit-transform: opacity 0.8 ease-in-out;
        transform: opacity 0.8 ease-in-out
    }
}

/*hero text typing*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.align-right {
  text-align: right;
}

.typed-cursor {
  color: #26DE9E;
  font-weight: 600;
}

.col-4-icons {
  width: 100px;
  height: auto;
}

.process-bg {
  /*background-color: #2d2e31; */
  background-image: url('../images/bottom/footer-bg.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  color: white;
  padding: 80px 0;
}

.process-bg p{
  padding: 10px;
}

.bottom-dots {
  opacity: 0.6;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: inline-block;
  margin: 0 10px;
}
